.about img {
    width: 100%;
}

.about .collapse {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

.about .collapse .title {
    border-radius: 5px;
}
