.home {
    margin-top: 43px;
}

.home .top {
    position: relative;
    width: 100%;
    height: 233px;
}

.home .top img {
    position: absolute;
    height: inherit;
    width: inherit;
}

.home .top div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    color: var(--second-color);
    width: 100%;
    text-align: center;
}

.thumbs-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;

    background-color: var(--bg-color);
    border-radius: 25px;
    margin-top: 43px;
    padding-top: 56px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .thumbs-container > * {
        width: 100%;
    }
}

@media (max-width: 425px) {
    .home {
        margin-top: 0;
    }

    .home .top {
        height: 111px;
    }

    .home .top div {
        font-size: 24px;
        width: 65%;
        text-align: left;
    }

    .thumbs-container {
        display: contents;
    }
}
