nav {   
    position: absolute;
    left: 75.08%;
    right: 0%;
    top: 25%;
    bottom: 25%;
    flex-direction: row;
    flex-wrap: nowrap;
}

.list{
    display: flex;
    flex-direction: row;
    justify-items: last baseline;
    flex-wrap: nowrap;
}

.items {
    color:  #FF6060;
    cursor: pointer;
}

