.rating {
    display: block;
}

.rating .star {
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

@media (max-width: 375px) {
    .rating .star {
        margin-left: 5px;
        width: 15px;
        height: 15px;
    }
}
