.thumbs-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;

    background-color: var(--bg-color);
    border-radius: 25px;
    margin-top: 43px;
    padding-top: 56px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 50px;
}

@media (max-width: 375px) {
    .thumbs-container {
        display: contents;
    }
}
