nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
}

nav ul li {
    display: block;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    text-align: right;
    color: var(--main-color);
    margin-left: 50px;
}

nav ul li a.active {
    text-decoration: underline;
}

@media (max-width: 375px) {
    nav ul li {
        font-size: 12px;
        margin-left: 10px;
        text-transform: uppercase;
    }
}

@media (max-width: 320px) {
    nav ul {
        flex-wrap: wrap;
    }
    nav ul li {
        margin-bottom: 5px;
    }
}
